<div class="jumbotron jumboHR">
    <div class="container text-center paddingbottom20 paddingtop20">
        <div class="row marginbottom20">
            <div class="col-md-4 col-md-offset-4 col-sm-2 col-sm-offset-5 text-left">
                <img class="img-responsive" src="/assets/tender_logo_white.png" alt="Tender Portal">
                <h5 class="margintop5 text-muted letterspace2">A product of <a href="http://www.rudra.com.np" class="nounderline text-muted ">Rudra International</a></h5>
                <!--<h1 class="no-fontwt">Tender Portal</h1>
                <p>View, edit, add and manage listings for Tenders, Quotations, EOIs etc.</p>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 margintop40">
                <span class="glyphicon glyphicon-cloud-download font48"></span>
                <hr class="jumboHR">
                <h4 class="text-muted ">Various tenders, quotations and other listings are collected from different media, all totally automated working around the clock.</h4>
            </div>
            <div class="col-sm-4 margintop40">
                <span class="glyphicon glyphicon-edit font48"></span>
                <hr class="jumboHR">
                <h4 class="text-muted ">Augment each listing with your notes, tags and participation information. Add, edit and remove personal listings.</h4>
            </div>
            <div class="col-sm-4 margintop40">
                <span class="glyphicon glyphicon-bell font48"></span>
                <hr class="jumboHR">
                <h4 class="text-muted ">Receive timely notification e-mails to your inbox depending on the submission deadline.</h4>
            </div>
        </div>
            
    </div>
</div>
<div class="container paddingbottom20">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header nomarginbottom text-danger"><span class="glyphicon glyphicon-warning-sign font18" ></span> Words of caution </h3>
            
            <div class="marginbottom20 margintop20">
                 <div class="row marginbottom20">
                     <div class="col-sm-9">When you edit your listing by updating notifications, note, tags or participation information, make sure to save you changes by clicking the <strong>Save changes</strong> button like the one shown here. If you move away from the page or refresh your browser without saving the changes, you will loose all the updated information.<br><strong>Note:</strong> This app is smart enough to detect when the information is updated or not and makes the button clickable or not likewise. </div>
                     <div class="col-sm-3 text-left">
                         <button class="btn btn-lg btn-success"><span class="glyphicon glyphicon-save" ></span> Save changes</button>
                     </div>
                </div>
                
                <div class="row marginbottom20">
                     <div class="col-sm-9">In listings' page, when you open the form to enter participation information by clicking the <strong>Enter</strong> button, the <strong>Save changes</strong> button will be temporarily disabled(even if previously enabled) until you fill the <sup class="required">*</sup><em>Required</em> field or close the form by clicking the  <strong>Cancel</strong> button.</div>
                     <div class="col-sm-3 text-left">
                         <button class="btn fbtn btn-danger btn-lg" data-toggle='tooltip' data-original-title="Provide your and your competitor's bid submission details for this listing" initialize-tooltip><span class="lineheight24"><i class="glyphicon glyphicon-edit" ></i> Enter</span>
                         </button>
                     </div>
                </div>
                
                <div class="row marginbottom20">
                    <div class="col-sm-9">After you check the box to receive the notification, make sure to select the frequency from the drop-down menu on right. Notifications can be set in the increment of 1, 3, 5 and 7 days prior to the submission deadline.
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group col-xs-2 paddingleft15">
                            <label class="checkbox-inline tenderOption btn fbtn  btn-success " data-toggle='tooltip' data-original-title="Select to get email notification" initialize-tooltip >
                            <input type="checkbox" ng-model="notify"><span class="lineheight24">Receive notification</span>
                            </label>
                            <!--Notification frequency dropdown-->
                            <div class="input-group-btn">
                                <button ng-disabled="!notify" type="button" class="btn btn-default notifyMenu dropdown-toggle" data-toggle="dropdown" data-original-title="Frequency" >
                                    <span class="glyphicon glyphicon-envelope"></span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu notifyDropdown pull-right" role="menu">
                                    <li><span>Select alert frequency</span></li>
                                    <li class="divider"></li>
                                    <li>
                                        <a data-value="oneday" tabIndex="-1" >
                                            <label class="checkbox-inline">
                                                <input type="checkbox"/>1 day prior
                                            </label>
                                        </a>
                                        
                                    </li>
                                    <li>
                                        <a data-value="threedays" tabIndex="-1">
                                            <label class="checkbox-inline">
                                                <input type="checkbox"/>3 days prior
                                            </label>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-value="fivedays" tabIndex="-1">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" />5 days prior
                                            </label>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-value="sevendays" tabIndex="-1">
                                            <label class="checkbox-inline">
                                                <input type="checkbox"/>7 days prior
                                            </label>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                 </div>
                 
                 <div class="row marginbottom20">
                     <div class="col-sm-9">
                         <strong>Inquiries:</strong> ashish.singh@rudra.com.np
                     </div>
                     <div class="col-sm-3 text-left">
                         
                     </div>
                </div>
                 
            </div>
        </div>
    </div>
    
    <div class="row margintop60 ">
        <div class="col-sm-12 text-center">
           <a href="https://www.openshift.com/"><img src="/assets/powered_by_openshift.png" alt="Powered by Openshift"></a>
        </div>
    </div>
    
    
    
</div>