<div class="container paddingbottom20 paddingtop20">
    
    <div class="row">
        <!-- RIGHT PANEL-->
        <div class="col-md-5 col-sm-6">
            <!-- User Info -->
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="page-header "><span class="glyphicon glyphicon-info-sign font18" ></span> User Information</h3>
                    <table class="table table-condensed table-striped table-hover bidInfoTable ">
                        <tr>
                            <td class="title">
                                <span class="marginleft15">Name</span> 
                            </td>
                            <td>
                                {{userData.name}}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <span class="marginleft15">Position</span> 
                            </td>
                            <td>
                                {{userData.position}}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <span class="marginleft15">Organization</span> 
                            </td>
                            <td>
                                {{userData.company}}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <span class="marginleft15">Address</span> 
                            </td>
                            <td>
                                {{userData.address}}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                               <span class="marginleft15">Phone no.</span> 
                            </td>
                            <td>
                                {{userData.phone}}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <span class="marginleft15">Email</span> 
                            </td>
                            <td>
                                {{user.email}}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <span class="marginleft15">Date Joined</span> 
                            </td>
                            <td>
                                {{userData.createdAt | date : 'EEEE MMMM d, yyyy'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <span class="marginleft15">Password</span> 
                            </td>
                            <td>
                                <button class="btn btn-lg btn-link nopadding nounderline" data-toggle="modal" data-target="#changePassword"><span class="text-danger">Change password</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <span class="marginleft15">IP Address</span> 
                                <br><i><small class="text-muted no-fontwt marginleft15">(@ Signup)</small></i>
                            </td>
                            <td>
                                {{userData.ip}}
                                <br>
                                {{userData.location.city}}, {{userData.location.country}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Notifications -->
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="page-header margintop20 marginbottom10"><span class="glyphicon glyphicon-bell font18" ></span> Notifications</h3>
                    <div class="row marginbottom20">
                        <div class="col-sm-12">
                            <p class="text-muted">Active listings you have set to receive e-mail notification
                            </p>
                        </div>
                    </div>
                    <table class="table table-condensed table-striped table-hover bidInfoTable ">
                        <tr ng-hide="notifications.length">
                            <td>
                                <span class="marginleft15">No notifications set !</span>
                            </td>
                        </tr>
                        <tr ng-repeat="notify in notifications | unique: 'tender':'item'">
                            <td>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <div class="marginleft15">{{notify.tender.item}}</div>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="glyphicon glyphicon-remove btn btn-xs btn-danger "  data-original-title='Delete notification' initialize-tooltip ng-click="deleteNotification(notify.tender)" data-toggle="tooltip" ></span>
                                    </div>  
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>
        
        <!-- Space between -->
        <div class="col-md-1"></div>
        
        <!-- LEFT PANEL -->
        <div class="col-md-6 col-sm-6">
            
            <!--Profile-->
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="page-header "><span class="glyphicon glyphicon-user font18" ></span> Update Profile</h3>
                    <form class="form-horizontal well noradiusborder" name="profileForm" novalidate>
                        <fieldset>

                            <!-- Username  -->
                            <div class="form-group form-group-lg margintop20">
                            <label for="userName" class="control-label col-sm-4">Name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="userName" id="userName" ng-model="userName" placeholder="Your name">
                                
                            </div>
                            </div>
                            <!-- Position  -->
                            <div class="form-group form-group-lg">
                            <label for="userPosition" class="control-label col-sm-4">Position</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="userPosition" ng-model="userPosition" placeholder="eg. Senior Manager" required="">
                                
                            </div>
                            </div>
                            
                            <!-- Organization  -->
                            <div class="form-group form-group-lg">
                            <label for="userCompany" class="control-label col-sm-4">Organization</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="userCompany" ng-model="userCompany" placeholder="Your company's name" required="">
                                
                            </div>
                            </div>
                            
                            <!-- Address  -->
                            <div class="form-group form-group-lg">
                            <label for="userAddress" class="control-label col-sm-4">Address</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="userAddress" ng-model="userAddress" placeholder="Your company's address" required="">
                                
                            </div>
                            </div>
                            
                            <!-- Phone  -->
                            <div class="form-group form-group-lg">
                            <label for="userPhone" class="control-label col-sm-4">Phone</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="userPhone" ng-model="userPhone" placeholder="Your phone no." required="">
                                
                            </div>
                            </div>

                            <!-- Button  -->
                            <div class="form-group">
                            <label class="control-label col-sm-4" for="submitUser"></label>
                            <div class="text-right col-sm-7">
                                <button type="button" id="submitUser" name="submitUser" class="btn btn-primary btn-lg" ng-disabled="profileForm.$pristine" ng-click="updateProfile()">Submit</button>
                                
                            </div>
                            </div>


                        </fieldset>
                    </form>
                </div>
            </div>
                    
        </div>
        
    </div>
    
</div>

<!-- Change Password Modal-->
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="resetPasswordForm()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-lock font18" ></span> Change Password</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="passwordResetForm" novalidate>
                    <fieldset>
                        <!-- Hack for browser prepopulating form -->
                        <input type="text" class="hidden">
                        <input type="password" class="hidden">
                        <!-- ------------------------------------- -->
                            
                        <!-- Old Password -->
                        <div class="form-group form-group-lg margintop20">
                            <label for="oldPassword" class="control-label col-sm-4">Old Password<sup class="required">*</sup></label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="oldPassword" ng-model="oldPassword" placeholder="Old password" required>
                                
                            </div>
                        </div>
                        <!-- Error -->
                         <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-6">
                                <p ng-show="!validPassword && !passwordResetForm.oldPassword.$pristine" class="formError text-danger" ng-cloak>
                                    <i class="glyphicon glyphicon-exclamation-sign"></i> Password is incorrect
                                </p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        
                        <!-- New Password -->
                        <div class="form-group form-group-lg " ng-class="{ 'has-error' : passwordResetForm.newPassword.$invalid && !passwordResetForm.newPassword.$pristine }">
                            <label for="newPassword" class="control-label col-sm-4">New<sup class="required">*</sup></label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" name="newPassword" id="newPassword" ng-model="newPassword" placeholder="New password" required ng-minlength="6">
                            </div>
                        </div>
                        <!-- Error -->
                         <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-6">
                                <p ng-show="passwordResetForm.newPassword.$invalid && !passwordResetForm.newPassword.$pristine" class="formError text-danger" ng-cloak>
                                    <i class="glyphicon glyphicon-exclamation-sign"></i> New password too short
                                </p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    
                        <!-- Confirm Password -->
                        <div class="form-group form-group-lg " ng-class="{ 'has-error' : passwordResetForm.confirmPassword.$invalid && !passwordResetForm.confirmPassword.$pristine }">
                            <label for="confirmPassword" class="control-label col-sm-4">Confirm<sup class="required">*</sup></label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="confirmPassword" placeholder="Confirm new password" required compare-to="newPassword">
                                
                            </div>
                        </div>
                        <!-- Error -->
                         <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-6">
                                <p ng-show="passwordResetForm.confirmPassword.$invalid && !passwordResetForm.confirmPassword.$pristine" class="formError text-danger" ng-cloak>
                                    <i class="glyphicon glyphicon-exclamation-sign"></i> Does not match with new
                                </p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">  
                    <div class="col-xs-4 text-left">
                        <sup class="required">*</sup><span class="smallerItalic">Required</span>
                    </div>
                    <div class="col-xs-8">
                        <button type="button" class="btn btn-lg btn-default" data-dismiss="modal" ng-click="resetPasswordForm()">Cancel</button>
                        <button type="button" id="submitPassword" name="submitPassword" class="btn btn-primary btn-lg" ng-disabled="!validPassword || passwordResetForm.$invalid" ng-click="changePassword()">Change</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>