<footer class="footer" ng-controller="FooterCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left hidden-xs hidden-sm">
                <a href="http://www.rudra.com.np">
                    <img src="/assets/logo.png" alt="Rudra International" class="footlogo">
                </a>
            </div>
            <div class="col-md-6 col-xs-12">
                <p class="text-muted pull-right foottext">
                    © <span ng-bind="::currentYear"></span><a href="http://www.rudra.com.np" class="plain-hyperlink"> Rudra International</a>. <span class="hidden-xs">All Rights Reserved.</span>
                </p>
            </div>
            
        </div>
    </div>
</footer>