<!DOCTYPE html>
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
body {background-color:ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1, img {text-align:center;font-family:Helvetica;color:000000;}
p {text-align:center;font-family:Helvetica;font-size:14px;font-style:normal;font-weight:normal;color:000000;}
img {padding: 50px;}
</style>
</head>
<body>

<h1><img src = "../../images/elements/logo(no_text).png"/> <br>IE 8 & less not supported !</h1>
<p>We currently don't support Internet Explorer 8 and less due to their severe limitations on browsing experience. Please use other modern browser while we work on the compatibility issues.</p>
</body>
</html>
