* {
    font-size: 14px;
}

/* Footer*/
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll; /* fix for scrollbar pageshift behavior*/
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  line-height: 20px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}
.footlogo{
    height: 60px;
    padding: 5px 0 5px 5px;
    text-decoration: none;
}
.foottext{
    margin-top: 20px;
}
/*********************/

.highlighted{
            color: red;
}

/* x button on the searchfield*/
.hasclear{
    position: relative;
}
/*IE10 fix*/
.hasclear::-ms-clear {
    display: none;
    width : 0; height: 0;
}

.clear{
    position: absolute;
    
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 9;
}
th {
	cursor:pointer;
    color: steelblue;
}
th > a:hover{
    text-decoration: none;
}


/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
    padding: 0px;
}
.navbar-brand>span>img {
    height: 100%;
    padding: 5px;
    width: auto;
}

/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.example3 .navbar-brand {
    height: 200px;
}

.example3 .nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
}
.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    transform: translate(0,-50%);
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}

.navbar {
    margin-bottom: 0 !important;
}

/*Angularjs:-Remove double curly brace notation from displaying momentarily before loading*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

[ng-click] {
  cursor: pointer;
}

.nav_user{
    padding: 15px;
    color: white;
}

/**********************************************/

.formError{
    margin-top: -10px;
}
.alertLogin{
    margin: 0 30px;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}

.account-wall
{
    margin-top: 40px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.account-wall > img {
    padding: 0 20px 20px;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    
    margin: 0 auto 10px;
    display: block;

}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.fbtn {
   
    border: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.fbtn:hover { opacity: 0.6; color: #fff; }
.fbtn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.fbtn:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }
.fbtn:active:focus, .fbtn.active:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

.checkbox {
    padding-left: 20px;
}

/**SUBMIT**/
.form-box {
	margin-top: 40px;
}

.form-top {
	
	text-align: left;
}

.form-top-left h3 { margin-top: 0; }

#email {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
div.form-signup .btn {
	height: 50px;
    margin: 0;
    padding: 0 50px;
    vertical-align: middle;
    
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    
    
}

div.form-signup input[type="text"], 
div.form-signup input[type="password"] {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.tenderOption input[type=checkbox]{
    margin: 3px 0;
}
.tenderOption > span {
   margin-left: 20px; 
}
/*Height not aligning by 1px each top and bottom hack*/
.selectCurrency{
   padding: 7px; 
}

.imgwrapper{
    position: relative;
}
.imgwrapper .glyphicon {
    position: absolute;
    top: 20px;
    left: 40px;
}

/*==================================================
=            Helper Styles:         ;             =
==================================================*/
.marginbottom20{
    margin-bottom: 20px;
}
.margintop20{
    margin-top: 20px !important;
}
.marginright10{
    margin-right: 10px;
}
.paddingbottom20{
    padding-bottom: 20px;
}
.paddingbottom5{
    padding-bottom: 5px;
}
.paddingtop20{
    padding-top: 20px;
}
.paddingleft15{
    padding-left: 15px;
}
.padding5{
    padding: 5px !important;
}
.margin5{
    margin: 5px !important;
}
.nopaddingleftright {
   padding-left: 0 !important;
   padding-right: 0 !important;
}
.nopadding{
    padding : 0 !important;
}
.marginbottomnegative2{
    margin-bottom: -2px !important;
}
.nounderline:hover { text-decoration: none; }
.lineheight24{
    line-height:24px !important;
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .account-wall > img {
            padding: 0 30px 20px;
        }
    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }