/** {
    font-size: 14px;
}*/
html {
  position: relative;
  min-height: 100%;
  /*overflow-y: scroll; /* fix for scrollbar pageshift behavior*/
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

/*.jumbotron{

    background-color: #0ac2d2;
    color: white;
}*/

/* Footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  line-height: 20px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}
.footlogo{
    height: 60px;
    padding: 5px 0 5px 5px;
    text-decoration: none;
}
.foottext{
    margin-top: 20px;
}


/*********************/

.required{
    font-size: large;
    color: red;
    top: -5px;
}

.highlighted{
            color: red;
}

/* x button on the searchfield*/
.hasclear{
    position: relative;
}
/*IE10 fix*/
.hasclear::-ms-clear {
    display: none;
    width : 0; height: 0;
}

.clear{
    position: absolute;
    
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 9;
}
th {
	cursor:pointer;
    color: steelblue;
}
th > a:hover{
    text-decoration: none;
}

/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
    padding: 0px;
}
.navbar-brand>span>img {
    height: 100%;
    padding: 5px;
    width: auto;
}

/* EXAMPLE 3
line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.example3 .navbar-brand {
    height: 200px;
}

.example3 .nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
}
.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    transform: translate(0,-50%);
    margin-right: 15px;
    margin-left: 15px;
}
.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}
.navbar {
    margin-bottom: 0 !important;
}
.nav_user{
    padding: 15px;
    color: white;
}

/*Angularjs:-Remove double curly brace notation from displaying momentarily before loading*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

[ng-click] {
  cursor: pointer;
}

/**********************************************/
/*              LOGIN - SIGNUP                */
/**********************************************/

.formError{
    margin-top: -10px;
}
.alertLogin{
    margin: 0 30px;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}

.account-wall
{
    margin-top: 40px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.account-wall > img {
    padding: 0 20px 20px;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    
    margin: 0 auto 10px;
    display: block;

}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.fbtn {
   
    border: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.fbtn:hover { opacity: 0.6; color: #fff; }
.fbtn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.fbtn:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }
.fbtn:active:focus, .fbtn.active:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

.checkbox {
    padding-left: 20px;
}

/**SUBMIT**/
.form-box {
	margin-top: 40px;
}

.form-top {
	
	text-align: left;
}

.form-top-left h3 { margin-top: 0; }

#email {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
div.form-signup .btn {
	height: 50px;
    margin: 0;
    padding: 0 50px;
    vertical-align: middle;
    
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}

div.form-signup input[type="text"], 
div.form-signup input[type="password"] {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.tenderOption input[type=checkbox]{
    margin: 6px 0;
}
.tenderOption > span {
   margin-left: 20px; 
}
.tenderOption{
    
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
/*Height not aligning by 1px each top and bottom hack*/
.selectCurrency{
   padding: 7px; 
}

.tenderCaller{
    position: relative;
}
.tenderCaller .glyphicon {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: large;
}

.angularjs-datetime-picker{
    z-index: 99;
}

.notifyMenu{
    padding: 7px;
    
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.notifyDropdown span {
    padding: 3px 10px !important;
}
.notifyDropdown a {
    padding: 3px 15px !important;
    outline: none;
}
.notifyDropdown{
    min-width: 145px !important;
}
.notifyDropdown .divider{
    margin: 5px 0 !important;
}

/***********Notes************/
#notes{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.notesInput{
    border: none;
    overflow: auto;
    outline: none;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.notesInput:focus{
     /*outline: 0 none;
    -webkit-appearance:none;*/
    box-shadow: none;
    /*border-color: none;*/
}

/************TAGS*************/
.tag-panel{
    position: relative;
}

.tag-container{
    position: absolute;
    top: -3px;
    right: 40px;
    border: 1px solid #ccc;
    padding: 2px 3px;
    display: inline-block;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tag-container input{
    display: inline-block;
    padding: 0;
    line-height: 18px;
    border: 0;
    margin: 2px;
}
.tag-container input:focus{
    outline: 0;
}

.delete-tag {
    color: #ddd;
    cursor: pointer;
    padding: 0 2px;
    border: none;
    background: none;
}
.delete-tag:hover{
    background-color: #e6e6e6;
    color: #bbb;
    text-decoration: none;
}

.firstChar{
    background: #337ab7;
    color: #fff;
    
    padding: 4px 10px;
    line-height: 1.33;
    text-transform: uppercase;
    border-radius: 50%;
    margin-right: 2px;
}

.oh-well{
    padding: 20px 20px 20px 35px;
    margin-bottom: 20px;
}
/****** Paper Clippings ******/

#imgViewer .modal-dialog{ /*fix dynamic modal width*/
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;  
    text-align: center; 
}

.imgwrapper{
    position: relative;
}
.imgwrapper .glyphicon {
    position: absolute;
    top: 50%;
    margin-top: -10px; /* half icon's height */
    left: 50%;
    margin-left: -20px; /* half icon's width */
    z-index: 9;
    font-size: xx-large;
    color: #f7f7f7;
}
.imgwrapper .img-thumbnail{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    padding: 6px;
    min-height: 200px;
}
.imgwrapper:focus {
   outline:0;
}

.imgwrapper:hover .glyphicon {
    color: white;
}
.imgwrapper:hover .img-thumbnail{
    -moz-box-shadow: 0 0 20px #ccc; 
    -webkit-box-shadow: 0 0 20px #ccc; 
    box-shadow: 0 0 20px #ccc;
    opacity: 0.7;
}


/*****Bid Participation****/


.bidInfoLegend{
    margin-top: 15px;
    margin-bottom: 15px;
}

.bidInfoList{
    margin-left: 15px;
    font-size: 15px;
}
.bidInfoList dt {
    color: #67655D;
}

.bidInfoTable tbody tr td{
    border : none;
}
.bidInfoTable tbody tr td.title{
    color: #67655D;
    font-weight: 700;
}
.bidInfoTable tbody tr{
    border-bottom:1px dotted #ddd;
}
.bidInfoTable tbody tr:last-child{
    border-bottom : none;
}
#compInfo span.title{
    font-size: 16px;
    font-weight: 600;
}


#newCompetitor{
    outline: 0;
}

.comp-card{
    background-color: rgb(221, 221, 221);
    border-color: rgb(211, 211, 211);
    color: #67655D;
    margin: 0 !important;
    position: relative;
}
.comp-card span{
    font-weight: 600;
    margin: 0 !important;
    
}

.comp-card .comp-edit{
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 9;
    outline: none;
}


.comp-card .togglemore{
    padding: 0;
    color: #67655D;
}
.comp-card .togglemore:hover{
    color: #111;
    text-decoration: none;
}
.comp-card .panel-heading {
    border-bottom: none;
}
.comp-card .panel-body {
    border-top : rgb(203, 203, 203) 1px solid;
}

.form-control{
    border-radius:0px !important; 
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
}

/*==================================================
=            Helper Styles:         ;             =
==================================================*/
.linkDisabled {
    cursor: not-allowed;
    pointer-events: none;
    color: grey;
}
.marginbottom20{
    margin-bottom: 20px;
}
.margin5{
    margin: 5px !important;
}
.margin10{
    margin: 10px !important;
}
.margin20{
    margin: 20px !important;
}
.margintop10{
    margin-top: 10px;
}
.margintop15{
    margin-top: 15px;
}
.margintop20{
    margin-top: 20px !important;
}
.marginright10{
    margin-right: 10px;
}
.marginright5{
    margin-right: 5px;
}
.marginbottom5{
    margin-bottom: 5px;
}
.marginbottom10{
    margin-bottom: 10px;
}
.marginbottom15{
    margin-bottom: 15px !important;
}
.marginleft15{
    margin-left: 15px !important;
}
.marginleftright15{
    margin-left: 15px;
    margin-right: 15px;   
}
.paddingbottom20{
    padding-bottom: 20px;
}
.paddingbottom5{
    padding-bottom: 5px;
}
.paddingtop20{
    padding-top: 20px;
}
.paddingleft15{
    padding-left: 15px;
}
.padding5{
    padding: 5px !important;
}
.padding10{
    padding: 10px !important;
}
.nopaddingleftright {
   padding-left: 0 !important;
   padding-right: 0 !important;
}
.nopaddingright {
   padding-right: 0 !important;
}
.nopadding{
    padding : 0 !important;
}
.nomargin{
    margin: 0 !important;
}
.marginbottomnegative2{
    margin-bottom: -2px !important;
}
.nomarginbottom{
    margin-bottom: 0 !important;
}
.nomargintop{
    margin-top: 0 !important;
}
.nomarginleft{
    margin-left: 0 !important;
}
.nounderline:hover { text-decoration: none; }
.lineheight24{
    line-height:24px !important;
}
.nobordertopleft{
    border-top-left-radius: 0 !important;
}

.noradiusborder{
    border-radius:1px  !important; 
    -webkit-border-radius:1px  !important;
    -moz-border-radius:1px  !important;
}

/*Round button*/
.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .account-wall > img {
            padding: 0 30px 20px;
        }
    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .tenderCaller{
            margin-bottom: 20px !important;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }