* {
    font-size: 14px;
}
.highlighted{
            color: red;
}
.marginbottom20{
    margin-bottom: 20px;
}
/* x button on the searchfield*/
.hasclear{
    position: relative;
}
.clear{
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 9;
}
th {
	cursor:pointer;
    color: steelblue;
}
th > a:hover{
    text-decoration: none;
}


/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/
#t{
    font-size: 25px;
    font-weight: bolder;
    margin: 2px;
}
.logoText{
    color: white;
    font-size: 20px;
}
#beta{
    padding: 1px;
    border-radius: 2px;
    font-size: x-small;
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>span>img {
    height: 100%;
    padding: 5px;
    width: auto;
}

/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.example3 .navbar-brand {
    height: 200px;
}

.example3 .nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
}
.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    transform: translate(0,-50%);
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}

/*Angularjs:-Remove double curly brace notation from displaying momentarily before loading*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}